In [2]:
#answer1
#List is a mutable data type and it is declared using '[]' brackets, EX [1,2,3,4,].
#while tuple is a immutable data type and is declared using '()' brackets, EX (1,2,3,4).

"List is a mutable data type and it is declared using '[]' brackets, EX [1,2,3,4,].\nwhile tuple is a immutable data type and is declared using '()' brackets, EX (1,2,3,4)."

In [13]:
#second
#'''The input() function is used to get input from the user in the runtime instead of giving input inside the code.
#It returns string data type.
#To convert str data type into integer we use this format: 
a=int(input("this is how we take int data type"))

this is how we take int data type 1

In [11]:
#third
#python dictionaries are a way to store data using a key value pair and are declared using '{}' brackets, 
#for example {2:'second'}. 
#to create a 3 key-value pairs here's the code:
dic={1:'one',2:'second',3:'third'}
dic

{1: 'one', 2: 'second', 3: 'third'}

In [17]:
#forth
# for loop is a pre defined function we use to run a block of code until a certain condition is met.
#a code to print numbers from 1 to 5
for i in range(1,6):
    print(i)

1
2
3
4
5

In [21]:
#five
# Exception handling in python is a way of finding and handling errors whether they are intentional or really is a mistake.
#try function is used to throw a exception at the code to see how the code responds
#except block is then performed when an error is detected in the try block
#finally block is performed whether or not we find an error in the try and except block
try:
    number = int(input("Input a number: "))
    result = number / 2
except ValueError:
    print("wrong input data type")
else:
    print(f"Half of {number} is {result}")
finally:
    print("Thank you")

Input a number:  22

Half of 22 is 11.0
Thank you

In [22]:
#seven
#Object oriented programming in python is a type of programming which revolves around a real world object that we
#create inside the block of code.
#class is a blueprint of how the objects inside the class will behave and respond to inputs.
#objects on the other hand is the literal object that reponds accordingly to the class.
class car:

In [26]:
#eight
result = []
for x in range(10):
    if x % 2 == 0:
        result.append(x * 2)

In [31]:
#nine
def calculate_area(radius):
    area= 22/7*radius*radius
    print(area)

In [32]:
calculate_area(5)

78.57142857142857

In [37]:
#ten
a=input("enter you name: ")
b=int(input("enter you age: "))
print(f"Hello {a},your age is {b}")

enter you name:  navya
enter you age:  19

Hello navya,your age is 19

In [42]:
#11
a=['papaya','mango','orange','banana','kiwi']
for index, a in enumerate(a, start=1):
    print(f" {index}: {a}")

 1: papaya
 2: mango
 3: orange
 4: banana
 5: kiwi

In [43]:
#12
def grade_calculator(score):
    if 90 <= score <= 100:
        return 'A'
    elif 80 <= score < 90:
        return 'B'
    elif 70 <= score < 80:
        return 'C'
    elif 60 <= score < 70:
        return 'D'
    elif 0 <= score < 60:
        return 'F'
    else:
        return 'Invalid score'

In [44]:
grade_calculator(45)

'F'

In [45]:
grade_calculator(90)

'A'

In [46]:
grade_calculator(50)

'F'

In [48]:
#15
print("Prime numbers between 1 and 50 are:")
for num in range(2, 51):
    prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            prime = False
            break
    if prime:
        print(num, end=" ")

Prime numbers between 1 and 50 are:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47